* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/Background.webp) center center/cover no-repeat fixed;
    height: 100vh;
    overflow: hidden;
}


figure {
    text-align: center;
    margin-top: 50px;
}

section {
    margin: 10px auto 120px auto;
    display: block;
    width: 275px;
}

p {
    font-size: 15px;
    color: white;
    text-align: center;
}

div {
    text-align: center;
    margin: 18px auto 0 auto;
    width: 275px;
}

div a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 12px 60px;
    text-align: center;
    font-size: 14px;
}